
<div class="container mt-5">
    <div class="row justify-content-center">

        <!-- <fa-icon [icon]="faBackward"></fa-icon> -->
        <div class="col-md-6">
           
            <h3 class="text-center">محاصيل القهوة</h3>
            

            <div class="content-container border mt-5">
                <div class="row align-items-center" dir="rtl">
                    <div class="col-md-6  text-center">
                        <h3>جميع الدفعات القادمة</h3>
                    </div>
                    <div class="col-md-6 text-center">
                       
                        <h3 class="aa">50 يوم متبقي </h3>
                       
                    </div>

                    <div class="col-md-6 text-center mt-3 d-flex align-items-center">
                        <img class="round" src="https://pbs.twimg.com/profile_images/1475136386126827524/LTUwsOBh_400x400.jpg">
                        <h3>5780.90 ر.س</h3>
                    </div>
                    <div class="col-md-6 text-center mt-3">
                       
                        <h3 class="aaa text-center">ادفع الان</h3>
                       
                    </div>

                </div>
            </div>
            

            <div class="content-container border mt-5">
                <div class="row align-items-center" dir="rtl">
                    <div class="col-md-6  text-center">
                        <h3>جميع الدفعات القادمة</h3>
                    </div>
                    <div class="col-md-6 text-center">
                       
                        <h3 class="aa">50 يوم متبقي </h3>
                       
                    </div>

                    <div class="col-md-6 text-center mt-3 d-flex align-items-center">
                        <img class="round" src="https://pbs.twimg.com/profile_images/1496615541406109696/AhlhKEdl_400x400.jpg">
                        <h3>20000 ر.س</h3>
                    </div>
                    <div class="col-md-6 text-center mt-3">
                       
                        <h3 class="aaa text-center">ادفع الان</h3>
                       
                    </div>

                </div>
            </div>




            <div class="content-container border mt-5">
                <div class="row align-items-center" dir="rtl">
                    <div class="col-md-6 text-center">
                        <h3>جميع الدفعات القادمة</h3>
                    </div>
                    <div class="col-md-6 text-center">
                        <h3 class="aa">50 يوم متبقي</h3>
                    </div>
                    <div class="col-md-6 text-center mt-3 d-flex align-items-center">
                        <img class="round" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTOrVdDBartVN-eM69z9DmDrCBwstU94J_U-3vxzOK6jQ&s">
                        <h3>2768.90 ر.س</h3>
                    </div>
                    <div class="col-md-6 text-center mt-3">
                        <h3 class="aaa text-center">ادفع الان</h3>
                    </div>
                </div>
            </div>


            
        </div>
    </div>
</div>
