<div class="container mt-5">
    <div class="row justify-content-center align-items-center">      
        <div style="display: inline-block;">
            <h1 dir="rtl">مركز المساعدة</h1>
            <h3>
                <a routerLink="/"><fa-icon [icon]="faBackward"></fa-icon></a>
            </h3>
        </div>   
        
        <div class="rounded-photo" style="position: relative;">
            <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTMW5iYaeBrX5E5GQy0VtUVFIjtQkSXtnEv1ICBfhnNI5bDLcKYTMdm38FCdq9NcToIeLs&usqp=CAU" alt="Your Photo">
            <h1 style="position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%); margin: 0; padding: 10px 50px; background-color: lightgray; border-radius: 50px;" dir="rtl">يا هلا covac</h1>
        </div>

        <!-- <div class="rounded-photo" style="position: relative;">
            <h1 style="position: absolute; top: 35%; left: 75%; transform: translate(-50%, -50%); margin: 0; padding: 10px 50px; background-color: rgb(102, 101, 101); border-radius: 50px;" dir="rtl"> طلبات ومدفوعات </h1>
        </div>
  -->

       <div style="display:flex; justify-content: space-around; margin-top: 30%;margin-bottom:5%;">
        <div class="rounded-photo" style="position: relative;">
            <h1 class="am"  dir="rtl">استفسارات عامة  </h1>
        </div>



        <a routerLink="/lastelement">
            <div class="rounded-photo" style="position: relative;">
                <h1 class="am"  dir="rtl"> طلبات ومدفوعات  </h1>
            </div>
        </a>
       
 

       </div>
    
 


        
    </div> 
</div>
