<div class="container mt-5">
    <div class="row justify-content-center align-items-center">      
        <div style="display: inline-block;">
            <h1 dir="rtl">مركز المساعدة</h1>
            <h3>
                <a routerLink="/"><fa-icon [icon]="faBackward"></fa-icon></a>
            </h3>
        </div>   
        
        <div class="rounded-photo" style="position: relative;">
            <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTMW5iYaeBrX5E5GQy0VtUVFIjtQkSXtnEv1ICBfhnNI5bDLcKYTMdm38FCdq9NcToIeLs&usqp=CAU" alt="Your Photo">
            <h1 class="a1" dir="rtl">يا هلا covac</h1>
        </div>

        <div class="rounded-photo" style="position: relative;">
            <h1 class="a2"  dir="rtl"> طلبات ومدفوعات </h1>
        </div>
 

        <div class="rounded-photo" style="position: relative; margin-top: 120px;">
            <h1 class="a3" dir="rtl">أبشر ولا يهمك</h1>
        </div>
       
 
        <div class="rounded-photo" style="position: relative; margin-top: 80px;">
            <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTMW5iYaeBrX5E5GQy0VtUVFIjtQkSXtnEv1ICBfhnNI5bDLcKYTMdm38FCdq9NcToIeLs&usqp=CAU" alt="Your Photo">
            <h1 class="a4" dir="rtl">  فيما يلي أحدث الطلبات</h1>
        </div>
      



        <div class="a5">
            <h1 dir="rtl" style="margin-top: 100px;">
                طلب 1 : 
            </h1>
            <h4 dir="rtl" style="margin-top: 110px; margin-right: 250px;">بن كفة -> 1000 ر.س</h4>
            <hr>
            <h1 dir="rtl" style="margin-top: 100px;">
                طلب 2 : 
            </h1>
            <h4 dir="rtl" style="margin-top: 110px; margin-right: 250px;">بيت التحميص -> 2768.90 ر.س</h4>
            <hr>
                    
<h3 style="margin: 100px; text-align: center; cursor: pointer;">إلغاء</h3>
        </div>

        
    </div> 
</div>
