
<div class="container mt-5">
    <div class="row justify-content-center">
        <a routerLink="/forthpage">
            <fa-icon [icon]="faShoppingBasket"></fa-icon>
        </a>
       
        <div class="col-md-6 text-center">
            
            <img src="https://pbs.twimg.com/profile_images/1496615541406109696/AhlhKEdl_400x400.jpg" class="rounded-circle mb-3" alt="Rounded Image" style="width: 150px; height: 150px;">
            <h1>كفة</h1>
        </div>

        <div style="border: 1px solid #ccc; padding: 20px; margin-top: 20px;">
            <h1 dir="rtl"> نبذة عنها :</h1>
            <p dir="rtl">شركة بيع بن القهوة بجملة تقدم تشكيلة متنوعى من البن بجودة عالية لعملائها في مجال الضيافة والمطاعم.
            <p dir="rtl"> تتميز بالتفرد في الخلطات والتحميص. مما يوفر تجربة قهوة فريدة ومميزة للعملاء </p>
        </div>
        
        <div  dir="rtl" style="display: flex; align-items: center; border: 1px solid #ccc; ">
            <h1 style="margin-right: 10px;">  التقييم :</h1>
            <span style="margin-right: 20px;">
                <fa-icon class="aa" [icon]="faStar"></fa-icon>
                <fa-icon [icon]="faStar"></fa-icon>
                <fa-icon [icon]="faStar"></fa-icon>
                <fa-icon [icon]="faStar"></fa-icon>
                <fa-icon [icon]="faStar"></fa-icon>
            </span>    
        </div>

        <div  dir="rtl" style="display: flex; align-items: center; border: 1px solid #ccc; ">
            <h1 style="margin-right: 10px;">  فترة السداد :</h1>
            <span style="margin-right: 20px;">
               <h3> شهرين  </h3>
            </span>    
        </div>

        <div  dir="rtl" style="display: flex; align-items: center; border: 1px solid #ccc; ">
            <h1 style="margin-right: 10px;">  فترة السماح :</h1>
            <span style="margin-right: 20px;">
               <h3> 20 يوم  </h3>
            </span>    
        </div>

        <div  dir="rtl" style="display: flex; align-items: center; border: 1px solid #ccc; ">
            <h1 style="margin-right: 10px;">   الكمية :</h1>
            <span style="margin-right: 20px;">
               <h3> حسب الطلب  </h3>
            </span>    
        </div>

        <div  dir="rtl" style="display: flex; align-items: center; border: 1px solid #ccc; ">
            <h1 style="margin-right: 10px;">  الخصم:</h1>
            <span style="margin-right: 20px;">
               <h3> 3% لمدة 3 أيام  </h3>
            </span>    
        </div>

        <a routerLink="/designpage" class="abc">أطلب</a>
    </div>
</div>
