<div class="container mt-5">



    <div class="row justify-content-center align-items-center">
       
       
        <div style="display: inline-block;">
            <h1 dir="rtl">حسابي</h1>
            <h3>
                <a routerLink="/"><fa-icon [icon]="faBackward"></fa-icon></a>
            </h3>
        </div>
        
       
        <div class="col-md-6 text-center">
            <img src="https://cdn-icons-png.freepik.com/512/219/219983.png" class="rounded-circle mb-3" alt="Rounded Image" style="width: 150px; height: 150px;">
            <h1>Covac</h1>
        </div>
    </div>



    <div style="margin-top: 100px;">
        <div dir="rtl">
            <div style="display: inline; cursor: pointer;">
                <fa-icon [icon]="faGear"></fa-icon>    
                <h1 style="display: inline; margin-right: 20px;">إعدادات الخصوصية</h1>
            </div>
            <hr>
    
            <div style="display: inline; cursor: pointer;">
                <fa-icon [icon]="faHeart"></fa-icon>    
                <h1 style="display: inline; margin-right: 20px;">المفضلة</h1>
            </div>
            <hr>
    
            <div style="display: inline; cursor: pointer;">
                <fa-icon [icon]="faLocationDot"></fa-icon>    
                <h1 style="display: inline; margin-right: 20px;">عنوان الشحن</h1>
            </div>
            <hr>
    
            <div style="display: inline; cursor: pointer;">
                <fa-icon [icon]="faStar"></fa-icon>    
                <h1 style="display: inline; margin-right: 20px;">التقييمات والمراجعات</h1>
            </div>
            <hr>
            
            <h1 class="abc">تسجيل خروج</h1>
    </div>
    
    </div>
</div>