

<div class="container mt-5">
  <div class="row justify-content-center">
    <div class="col-md-6">
      
        <div>
          <a routerLink="/lastpage">
            <fa-icon [icon]="faHandshake"></fa-icon>
      
           </a>
           <span style="float: right;">
            <a routerLink="/sevenpage">
                <fa-icon [icon]="faUser"></fa-icon>
            </a>
        </span>
        
 
        </div>
      <h1 class="COVAC">Covac يا هلا</h1>
      <div class="input-group">
        <input type="text" class="form-control" dir="rtl" placeholder="البحث">
        <div class="input-group-prepend">
          <span class="input-group-text search-icon"><fa-icon [icon]="faSearch"></fa-icon></span>
        </div>
      </div>

      <h5 dir="rtl" class="mt-4"> كيف يمكننا مساعدتك في العثور علي ما تريده.</h5>
      <h5 dir="rtl">Covac ؟</h5>

    <div class=" a1 row justify-content-center mt-4">
        <div class="col-sm-4">
          <a><figure class="figure shadow" style="position: relative;">
            <div style="display: inline-block;">
              <img src="https://cdnprod.mafretailproxy.com/sys-master-root/h3b/h4e/14854841761822/537559_main.jpg_480Wx480H"  class="w100 figure-img img-fluid rounded">
              <figcaption class="figure-caption text-center">
                <h5>اكواب</h5>
              </figcaption>
            </div>
          </figure></a>
        </div>
        <div class="col-sm-4">
          <figure class="figure shadow" style="position: relative;">
            <div style="display: inline-block;">
              <a routerLink="/secondpage">
                <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTtXKAQpCBd2P0BIRnp_t_pSHpgAuHleDYeqVR-yCwvrOe0UuMmRX17puWo1g1jFHumbRk&usqp=CAU"  class="w100 figure-img img-fluid rounded">

              </a>
              <figcaption class="figure-caption text-center">
                <h5>محاصيل قهوة </h5>
              </figcaption>
            </div>
          </figure>
        </div>
        <div class="col-sm-4">
          <figure class="figure shadow" style="position: relative;">
            <div style="display: inline-block;">
              <img src="https://m.media-amazon.com/images/I/510Sz+MYjmL._AC_.jpg" class="w100 figure-img img-fluid rounded">
              <figcaption class="figure-caption text-center">
                <h5>مكائن القهوة </h5>
              </figcaption>
            </div>
          </figure>
        </div>
      </div>
<!-- 
      <h3 class="text-center my-4 ">اختر الباقة التي تناسبك </h3>
      <div class="row justify-content-center mt-4">
        <div class="col-sm-4">
          <figure class="figure shadow" style="position: relative;">
            <div style="display: inline-block;">
              <figcaption dir="rtl" class="w50 figure-caption text-center">
                <h5>الباقة الأولي </h5>
                <h4>10 عمليات /</h4>
                <h4>2500 ر.س</h4>
              </figcaption>
            </div>
          </figure>
        </div>
        <div class="col-sm-4">
          <figure class="figure shadow" style="position: relative;">
            <div style="display: inline-block;">
              <figcaption  dir="rtl" class="w50 figure-caption text-center">
                <h5>الباقة الثانية </h5>
                <h4>50 عميلة /</h4>
                <h4>5500 ر.س</h4>
              </figcaption>
            </div>
          </figure>
        </div>
        <div class="col-sm-4">
          <figure class="figure shadow" style="position: relative;">
            <div style="display: inline-block;">
              <figcaption dir="rtl" class="w50 figure-caption text-center">
                <h5 > الباقة الثالثة  </h5>
                <h4>لا محدود</h4>
                <h4>9999 ر.س</h4>
              </figcaption>
            </div>
          </figure>
        </div>
      </div> -->
    </div>
  </div>
</div>

