<div class="container mt-5">
    <div class="row justify-content-center">

        <!-- <fa-icon [icon]="faBackward"></fa-icon> -->
        <div class="col-md-6">
            <div class="content-container border mt-5">
                <div class="row align-items-center" dir="rtl">

                    <div dir="ltr" >
                        <br>
                        <div class="col-md-6 text-center">
                            <h3 class="aa">مستحقة 05 ديسمبر 2023</h3>
                        </div>
                    </div>
                    <hr>
                    <ul>
                        <li>
                            <img class="round" src="https://pbs.twimg.com/profile_images/1475136386126827524/LTUwsOBh_400x400.jpg">
                            <div>
                                <h1>لامينا</h1>
                                <h3>05 أكتوبر 2023</h3> <!-- "alaa" is placed under "ahmed" -->
                            </div>
                        </li>
                        <li></li> <!-- Empty li for spacing -->
                        <li>
                            <h3 class="ahmed">عرض التفاصيل</h3>
                        </li>
                    </ul>
                </div> 
            </div>
        </div>
    </div>
</div>




<div class="container mt-3">
    <div class="row justify-content-center">

        <!-- <fa-icon [icon]="faBackward"></fa-icon> -->
        <div class="col-md-6">
            <div class="content-container border mt-5">
                <div class="row align-items-center" dir="rtl">

                    <div dir="ltr" >
                        <br>
                        <div class="col-md-6 text-center">
                            <h3 class="ab">مدفوع</h3>
                        </div>
                    </div>
                    <hr>
                    <ul>
                        <li>
                            <img class="round" src="https://pwa-cdn.alsaifgallery.com/media/attribute/swatch/i/m/image_88__1.png">
                            <div>
                                <h1>بن السيف</h1>
                                <h3>05 أكتوبر 2023</h3> <!-- "alaa" is placed under "ahmed" -->
                            </div>
                        </li>
                        <li></li> <!-- Empty li for spacing -->
                        <li>
                            <h3 class="ahmed">عرض التفاصيل</h3>
                        </li>
                    </ul>
                </div> 
            </div>
        </div>
    </div>
</div>




<div class="container mt-3">
    <div class="row justify-content-center">

        <!-- <fa-icon [icon]="faBackward"></fa-icon> -->
        <div class="col-md-6">
            <div class="content-container border mt-5">
                <div class="row align-items-center" dir="rtl">

                    <div dir="ltr" >
                        <br>
                        <div class="col-md-6 text-center">
                            <h3 class="ab">مدفوع</h3>
                        </div>
                    </div>
                    <hr>
                    <ul>
                        <li>
                            <img class="round" src="https://cdn.salla.sa/rZOlw/3OLj8YdKuv277dpj17Trws1NRxyIO588eK92kED1.jpg">
                            <div>
                                <h1>كفة</h1>
                                <h3>05 أكتوبر 2023</h3> <!-- "alaa" is placed under "ahmed" -->
                            </div>
                        </li>
                        <li></li> <!-- Empty li for spacing -->
                        <li>
                            <h3 class="ahmed">عرض التفاصيل</h3>
                        </li>
                    </ul>
                </div> 
            </div>
        </div>
    </div>
</div>
